<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.server.mapper.TraceTableRelatedInfoMapper">
    <resultMap id="BaseResultMap" type="com.yt.server.entity.TraceTableRelatedInfo">
        <id column="traceId" jdbcType="BIGINT" property="traceId"/>
        <result column="tableName" jdbcType="VARCHAR" property="tableName"/>
        <result column="downsamplingTableName" jdbcType="VARCHAR" property="downsamplingTableName"/>
        <result column="traceStatus" jdbcType="VARCHAR" property="traceStatus"/>
        <result column="traceName" jdbcType="VARCHAR" property="traceName"/>
        <result column="traceConfig" jdbcType="VARCHAR" property="traceConfig"/>
        <result column="reachedBatchFlag" jdbcType="VARCHAR" property="reachedBatchFlag"/>
        <result column="oldVarNames" jdbcType="VARCHAR" property="oldVarNames"/>
        <result column="oldFieldMetaIds" jdbcType="VARCHAR" property="oldFieldMetaIds"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        traceId
        , tableName, downsamplingTableName, traceStatus, traceName, traceConfig, reachedBatchFlag, oldVarNames,oldFieldMetaIds
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from trace_table_related_info
        where traceId = #{traceId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from trace_table_related_info
        where traceId = #{traceId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.yt.server.entity.TraceTableRelatedInfo">
        insert into trace_table_related_info (traceId, tableName, downsamplingTableName,
                                              traceStatus, traceName, traceConfig,
                                              reachedBatchFlag, oldVarNames, oldFieldMetaIds)
        values (#{traceId,jdbcType=BIGINT}, #{tableName,jdbcType=VARCHAR}, #{downsamplingTableName,jdbcType=VARCHAR},
                #{traceStatus,jdbcType=VARCHAR}, #{traceName,jdbcType=VARCHAR}, #{traceConfig,jdbcType=VARCHAR},
                #{reachedBatchFlag,jdbcType=VARCHAR}, #{oldVarNames,jdbcType=VARCHAR},
                #{oldFieldMetaIds,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.yt.server.entity.TraceTableRelatedInfo">
        insert into trace_table_related_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="traceId != null">
                traceId,
            </if>
            <if test="tableName != null">
                tableName,
            </if>
            <if test="downsamplingTableName != null">
                downsamplingTableName,
            </if>
            <if test="traceStatus != null">
                traceStatus,
            </if>
            <if test="traceName != null">
                traceName,
            </if>
            <if test="traceConfig != null">
                traceConfig,
            </if>
            <if test="reachedBatchFlag != null">
                reachedBatchFlag,
            </if>
            <if test="oldVarNames != null">
                oldVarNames,
            </if>
            <if test="oldFieldMetaIds != null">
                oldFieldMetaIds,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="traceId != null">
                #{traceId,jdbcType=BIGINT},
            </if>
            <if test="tableName != null">
                #{tableName,jdbcType=VARCHAR},
            </if>
            <if test="downsamplingTableName != null">
                #{downsamplingTableName,jdbcType=VARCHAR},
            </if>
            <if test="traceStatus != null">
                #{traceStatus,jdbcType=VARCHAR},
            </if>
            <if test="traceName != null">
                #{traceName,jdbcType=VARCHAR},
            </if>
            <if test="traceConfig != null">
                #{traceConfig,jdbcType=VARCHAR},
            </if>
            <if test="reachedBatchFlag != null">
                #{reachedBatchFlag,jdbcType=VARCHAR},
            </if>
            <if test="oldVarNames != null">
                #{oldVarNames,jdbcType=VARCHAR},
            </if>
            <if test="oldFieldMetaIds != null">
                #{oldFieldMetaIds,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yt.server.entity.TraceTableRelatedInfo">
        update trace_table_related_info
        <set>
            <if test="tableName != null">
                tableName = #{tableName,jdbcType=VARCHAR},
            </if>
            <if test="downsamplingTableName != null">
                downsamplingTableName = #{downsamplingTableName,jdbcType=VARCHAR},
            </if>
            <if test="traceStatus != null">
                traceStatus = #{traceStatus,jdbcType=VARCHAR},
            </if>
            <if test="traceName != null">
                traceName = #{traceName,jdbcType=VARCHAR},
            </if>
            <if test="traceConfig != null">
                traceConfig = #{traceConfig,jdbcType=VARCHAR},
            </if>
            <if test="reachedBatchFlag != null">
                reachedBatchFlag = #{reachedBatchFlag,jdbcType=VARCHAR},
            </if>
            <if test="oldVarNames != null">
                oldVarNames = #{oldVarNames,jdbcType=VARCHAR},
            </if>
            <if test="oldFieldMetaIds != null">
                oldFieldMetaIds = #{oldFieldMetaIds,jdbcType=VARCHAR},
            </if>
        </set>
        where traceId = #{traceId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yt.server.entity.TraceTableRelatedInfo">
        update trace_table_related_info
        set tableName             = #{tableName,jdbcType=VARCHAR},
            downsamplingTableName = #{downsamplingTableName,jdbcType=VARCHAR},
            traceStatus           = #{traceStatus,jdbcType=VARCHAR},
            traceName             = #{traceName,jdbcType=VARCHAR},
            traceConfig           = #{traceConfig,jdbcType=VARCHAR},
            reachedBatchFlag      = #{reachedBatchFlag,jdbcType=VARCHAR},
            oldVarNames           = #{oldVarNames,jdbcType=VARCHAR},
            oldFieldMetaIds       = #{oldFieldMetaIds,jdbcType=VARCHAR}
        where traceId = #{traceId,jdbcType=BIGINT}
    </update>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from trace_table_related_info
    </select>
    <select id="disSelect" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from trace_table_related_info
        where traceId not in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item, jdbcType=BIGINT}
        </foreach>
    </select>
</mapper>